.card-container { display: flex; flex-wrap: wrap; }

.card { background: #5a005a; padding: 15px; width: 18rem; color: white; margin: 15px; border-radius: 4px; }

.card-header { font-size: 16px; font-family: sans-serif; font-weight: bold; }

.card-body { background-color: #490049; padding: 15px; border-radius: 4px; }